/* Style definition for the home page */

.homePage{
  margin-top: 4em;
  margin: 0.3em;
}

#parentDiv{
    display: flex;
    flex-wrap: wrap;
    /* border: solid yellow; */
}

#parentDiv1{
    border: solid green;
}
.workerDetail{
    background-color: antiquewhite;
    border: 0.16em solid burlywood;
    border-radius: 2em;
    width: 45em;
    height: 27em;
    margin: auto;
    margin-block-start: 2em;
    margin-inline-start: 1.6em;
    border: solid black;
}
.img{
    position: relative;
    top: 0.7em;
    left: 0.7em;
    border: solid red;
    width: 8em;
    height: 6em;
}
.info{
    width: 20em;
    text-align: left;
    position: relative;
    top: 1.5em;
    left: 0.6em;
}

.WokersWorkOrders{
    width: 24em;
    height: 25em;
    margin: auto;
    margin-inline-end: 9em;
    margin-block-start: -19em;
    position: relative;
    left: 8em;
    overflow: auto;
}

.singleOrder{
    border: 0.1em solid black;
    border-radius: 0.3em;
    background-color:white;
    box-shadow: 0em 0em 0.6em 0.1em coral;
    text-align: left;
    width: 22em;
    height: 14em;
    padding: 0.5em;
    margin: auto;
    margin-block-start: 1em;
    margin-inline-start: 0.5em;
    
}

