/* Style definition for the home page */

.homePage{
  margin-top: 4em;
  margin: 0.3em;
}

#parentDiv{
    display: flex;
    flex-wrap: wrap;
}

.workerDetail{
    box-shadow: 0.1em 0.2em 0.4em 0.1em rgba(0,0,0,.4);
    width: 45em;
    height: 27em;
    margin-block-start: 2em;
    margin-inline-start: 2em;
    background-color:whitesmoke;
}
h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h4{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;

}

.workerDetail:hover{
    box-shadow: 0.6em 0.4em 1.4em 0.1em #989294;
    box-sizing: content-box;
    width: 46em;
    height: 28em;
    margin-inline-start: 1em;
}

.ui.small.image{
    position: relative;
    top: 0.7em;
    left: 0.7em;
    width: 8em;
    height: 8em;
}
.info{
    width: 20em;
    text-align: left;
    position: relative;
    top: 1.5em;
    left: 0.6em;
}

.WokersWorkOrders{
    width: 24em;
    height: 25em;
    margin: auto;
    margin-inline-end: 9em;
    margin-block-start: -19em;
    position: relative;
    left: 8em;
    overflow: auto;
}

.singleOrder{
    border-radius: 1em;
    background-color:#d4d4d5;
    opacity: 0.9;
    box-shadow: 0em 0em 0.6em 0.1em #989294;
    text-align: left;
    width: 22em;
    height: 14em;
    padding: 0.5em;
    margin: auto;
    margin-block-start: 1em;
    margin-inline-start: 0.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

