/* Search bar styling */

.SearchBar{
    height: 4em;
}
#prompt{
    position: absolute;
    left: 3.5em;
    top: 6em;
    font-style: italic;
    color: teal;
}
.Buttons{
    position: absolute;
    right: 4em;
    top: 4.8em;
}
.ui.buttons .or {
    padding: 0.2em;
}
.ui.search{
    position: absolute;
    right: 18em;
    top: 5em;
    left: 3em;
}
.ui.input {
    width: 24em;
}
.ui.search .prompt{
    border: 0.2em solid rgb(255, 226, 10, 1);
    opacity: 0.5;
}