/* Search bar styling */

.SearchBar{
    height: 4em;
}
.Buttons{
    position: absolute;
    top: 5.4em;
    left: 9em;
}
.ui.buttons .or {
    padding: 0.2em;
    margin: 0.2em;
}
.ui.search{
    position: absolute;
    right: 18em;
    top: 6em;
}
.ui.input {
    position: relative;
    width: 40em;
    left: 17em; 
}
.ui.search .prompt{
    border: 0.2em solid burlywood;
}